body{
  background-color: #1c1c1c;
  color: white;
}

.chart {
  width: 32%;
  max-width: 350px;
}

.wide-chart {
  width: 100%;
  max-width: 1025px;
}

@media (max-width: 800px) {
  .chart {
    width: 100%;
  }
}